@media screen and (max-width:576px) {

    /* nav related */
    
     .bar1, .bar2, .bar3 {
            width: 35px;
            height: 3px;
            background-color: #333;
            margin: 6px 0;
            /* transition: 0.4s; */
          }

    
    
    .on-click{
        display: block;
    }
    .home{
        display: none;
    }

    /* banner related */

    .banner,
    .banner-form>form{
        display: flex;
        flex-direction: column;
        flex-basis: 50px;
    }

    .banner-form{
        min-height: 60%;
        min-width: 60%;

    }
    .banner-form>.box{
        width: 200px;
    }

    /* popular section */

    .popular{
        flex-direction: column;
    }
    .popular-img>img{
    
        width: 100%;
        object-fit: cover;
            
    }
    .popular-img{
        width: 100%;
    }

    /* destination related */

    .destination-img{
        display: grid;
        grid-template-areas: 
        'head1'  
        'head2'
    'image3' 
    'image4' 
    'image5'
    'foot1' 
    'foot2' ;

    }

    .image1,.image2,.image3,.image4,.image5,.image6,.image7{
        max-width: 335px;
height: 175.39px;
width: 100%;
border-radius: 16px;
object-fit: cover;
margin-left: 2%;

    }

    /* why section */

    .why-cards{
        flex-direction: column;
        gap: 20px;
    }
    .card3{
        width: 100%;
    }

    /* deals section */
    .deals{
        width: 90%;
        object-fit: cover;
    }

    .dealsbanner1,
    .dealsbanner2,
    .dealsbanner3{
        max-width: 335px;
        max-height: 500px;
        object-fit: cover;
        padding: 30px 5px;
        border: 2px solid red;
        display: flex;
        
    }

    .poster{
        
width: 303px;
height: 400px;
box-sizing: border-box;
border: 2px solid rgb(255, 255, 255);
border-radius: 16px;

backdrop-filter: blur(5px);
background: rgba(255, 255, 255, 0.8);
    }

    /* video section */

    .video{
        flex-direction: column;
        gap: 10px;
    }
    .video-img{
        width: 335px;
height: 200px;
        
    }
    .video-content{
        width: 335px;
    }

    /* newsletter related */
    .news{
        flex-direction: column;
        align-items: center;
        /* margin-bottom: 10px; */
        
    }
    

    .news-content{
        width: 335px;
height: 353px;

    }
    .news-content>input{
        width: 288px;
        height: 52px;
    }
    .news-content>button{
        width: 288px;
height: 52px;
    }
    .news-img{
        width: 100%;
        object-fit: cover;
        height: 200px;
    }
    .news-img>img{
         width: 100%; 
        
    }

    .news-offer{
        width: 280px;
        height: 100px;
        transform: rotate(-19.63deg);
        top: -160px;
        left: 80px;
    }

    


    




}