@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Mulish;
}

/* shared styles */

.container{
    width: 80%;
    max-width: 1120px;
    margin: 0px auto;

}
.common-color{
    color: rgb(255, 84, 0);
}

.cmn-btn{
    border-radius: 6px;
    background: rgb(255, 84, 0);
    color:rgb(255, 255, 255);
    
font-family: Mulish;
font-size: 16px;
font-weight: 700;
line-height: 20px;
letter-spacing: 0%;
text-align: center;
padding: 10px 10px;
border: none;

}


.text{
    color: rgb(90, 90, 93);
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: left;
}

.place{
    color: rgb(255, 255, 255);
font-family: Mulish;
font-size: 28px;
font-weight: 800;
line-height: 35px;
letter-spacing: 0%;
text-align: center;
}





/* Header related styles */
.nav{
    /* border: 2px solid tomato; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 65px;
    margin: 10px auto;
}

.hero{
display: flex;
align-items: center;

}
.hero>p{
    margin-left: 5px;
 
font-size: 36px;
font-weight: 800;
line-height: 45px;
letter-spacing: 0%;
text-align: left;
}

.home>a{
text-decoration: none;
margin-left: 20px;

}
.on-click{
    display: none;
}

.banner{
    border-radius: 16px;
    margin: 20px auto;

/* background-image: linear-gradient(180.00deg, rgba(19, 19, 24, 0.8),rgba(19, 19, 24, 0) 100%); */
    background-image: url(../Images/rectangle-22.png);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* min-height: 400px; */
    object-fit: cover;
    min-height: 350px;
    
}
.banner-form{
    /* border: 2px solid tomato; */
    border-radius: 8px;

    background: rgba(255, 255, 255, 0.3);
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 20px auto;
    padding: 15px;
    gap: 10px;
}

.banner h1{
    text-align: center;
    margin: 10px auto;
    color: rgb(255, 255, 255);
font-size: 64px;
font-weight: 800;
line-height: 80px;
letter-spacing: 0%;
}
.banner p{
    color: rgb(255, 255, 255);
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
}


/* Popular section related */

.popular{
    display: flex;
    margin: 100px auto;
    align-items: start;
    justify-content: space-between;
    gap: 10px;
    /* border: 2px solid green; */
}
.popular-content{
    /* width: 50%; */
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
}

.popular-list{
    margin: 0px auto 50px auto;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: right;
    text-align: left;
    /* border: 2px solid red; */

}
.popular-list>h2{
    color: rgb(19, 19, 24);
font-size: 40px;
font-weight: 800;
line-height: 50px;
letter-spacing: 0%;
text-align: left;
}
.popular-list>h2,p,ul{
    margin: 10px auto;
}
.popular-list>ul>li{
    margin: 5px auto;
}
.popular-img{
    width: 50%;
    object-fit: cover;
    height: 400px;

    /* border: 2px solid rgb(47, 0, 255); */
}

/* destination related styles */

.image1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: url(../Images/Rectangle5.png);
   /* border: 2px solid blueviolet; */
   object-fit: cover;
   /* margin: 1.5%; */

 width: 573px;
 height: 300px;

    
 grid-area: head1;
}
.image2{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: url(../Images/Rectangle8.png); 
    grid-area: head2;
    /* position: absolute; */
width: 573px;
height: 300px;
    
}
.image3{
    display: flex;
    align-items: center;
    justify-content: space-around;
    grid-area: image3;
    width: 374px;
height: 286px;
    background-image: url(../Images/Rectangle\ 6.png);
}
.image4{
    display: flex;
    align-items: center;
    justify-content: space-around;
    grid-area: image4;
    width: 474px;
    height: 286px;
    background-image: url(../Images/Rectangle\ 7.png);
}
.image5{
    display: flex;
    align-items: center;
    justify-content: space-around;
    grid-area: image5;
    width: 274px;
height: 286px;
    background-image: url(../Images/Rectangle\ 9.png);
}
.image6{
    grid-area: foot1;
    background-image: url(../Images/Rectangle\ 11.png);
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 473px;
height: 300px;
}
.image7{
    grid-area: foot2;
    background-image: url(../Images/Rectangle\ 10.png);
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 673px;
height: 300px;
}




.destination-img{
    /* border: 2px solid red; */
    display: grid;
    gap: 10px;
    object-fit: cover;
    grid-template-areas:
    'head1 head1 head1 head1 head2 head2 head2 head2'
    'image3 image3 image4 image4 image4 image4 image5 image5'
    'foot1 foot1 foot1 foot2 foot2 foot2 foot2 foot2'
    ;
}

.destination-content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 5px;
}
.destination{
    margin-top: 15%;
}
.destination-content>p{
    font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;

}
.destination-content>h2{
    font-size: 40px;
    font-weight: 800;
    line-height: 50px;
    letter-spacing: 0%;
    text-align: center;

}

/* why section */

.card1{
    box-sizing: border-box;
border: 1px solid rgba(251, 181, 99, 0.2);
border-radius: 16px;

background: rgba(251, 181, 99, 0.05);
padding: 32px 32px 32px 50px;
}
.card2{
    box-sizing: border-box;
border: 1px solid rgba(41, 206, 246, 0.2);
border-radius: 16px;

background: rgba(41, 206, 246, 0.05);
padding: 32px 32px 32px 50px;
}
.card3{
    box-sizing: border-box;
border: 1px solid rgba(233, 68, 68, 0.2);
border-radius: 16px;

background: rgba(233, 68, 68, 0.05);
width: 573px;
height: auto;
padding: 32px 32px 32px 50px;

}

.why-cards{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3%;
}

.why{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin: 30px auto;
}
.why-content>h3{
    color: rgb(19, 19, 24);
    font-family: Mulish;
    font-size: 40px;
    font-weight: 800;
    line-height: 50px;
    letter-spacing: 0%;
    text-align: center; 

}
.why-content>p{
    color: rgba(19, 19, 24, 0.7);
font-family: Mulish;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;

}


/* Deals related styles */

.deals{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
.deals>p{
    color: rgba(19, 19, 24, 0.7);
    
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
}
.deals>h2{
    color: rgb(19, 19, 24);
    
    font-size: 40px;
    font-weight: 800;
    line-height: 50px;
    letter-spacing: 0%;
    text-align: center;
}
.deals>button{
    margin: 15px auto;
}


.dealsbanner1{
    padding: 55px 50px 55px 50%;
    /* border: 2px solid blueviolet; */
    background-image: url(../Images/Group\ 39.png);
    width: 1170px;
height: 500px;
}
.dealsbanner2{
    padding: 55px 50% 55px 50px;
    /* border: 2px solid blueviolet; */
    background-image: url(../Images/Group\ 40.png);
    width: 1170px;
height: 500px;
}
.dealsbanner3{
    padding: 55px 50px 55px 50%;
    /* border: 2px solid blueviolet; */
    background-image: url(../Images/Group\ 39.png);
    width: 1170px;
height: 500px;
}
.poster{
  /* border: 2px solid red; */
  box-sizing: border-box;
border: 2px solid rgb(255, 255, 255);
border-radius: 16px;

backdrop-filter: blur(5px);
background: rgba(255, 255, 255, 0.8);
width: 579px;
height: 360px;
padding: 50px 77px 50px 50px;

}
.icons{
    display: flex;
    margin: 15px auto;
    
}
.icon2,.icon3{
    margin-left: 15px;

}

.poster>button{
    margin: 15px auto;
}
