@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Mulish;
}

/* shared styles */

.container{
    width: 80%;
    max-width: 1120px;
    margin: 0 auto;

}
.common-color{
    color: rgb(255, 84, 0);
}

.cmn-btn{
    border-radius: 6px;
    background: rgb(255, 84, 0);
    color:rgb(255, 255, 255);
    
font-family: Mulish;
font-size: 16px;
font-weight: 700;
line-height: 20px;
letter-spacing: 0%;
text-align: center;
padding: 10px 10px;
border: none;

}














/* Header related styles */
.nav{
    /* border: 2px solid tomato; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 65px;
}

.hero{
display: flex;
align-items: center;

}
.hero>p{
    margin-left: 5px;
 
font-size: 36px;
font-weight: 800;
line-height: 45px;
letter-spacing: 0%;
text-align: left;
}

.home>a{
text-decoration: none;
margin-left: 20px;

}
.on-click{
    display: none;
}

.banner{
    border-radius: 16px;
    margin: 20px auto;

/* background-image: linear-gradient(180.00deg, rgba(19, 19, 24, 0.8),rgba(19, 19, 24, 0) 100%); */
    background-image: url(../Images/rectangle-22.png);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* min-height: 400px; */
    object-fit: cover;
    min-height: 350px;
    
}
.banner-form{
    /* border: 2px solid tomato; */
    border-radius: 8px;

    background: rgba(255, 255, 255, 0.3);
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 20px auto;
    padding: 15px;
    gap: 10px;
}

.banner h1{
    text-align: center;
    margin: 10px auto;
    color: rgb(255, 255, 255);
font-size: 64px;
font-weight: 800;
line-height: 80px;
letter-spacing: 0%;
}
.banner p{
    color: rgb(255, 255, 255);
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
}
